p {
    font-size: 20px;
}


.square {
    position: absolute;
    z-index: 10
}


.container {
    position: relative;
    width: 100%;
    margin-top: 20px;
}

.chess-container {
    margin-left: 40px;
    border: 10px solid rgb(63, 50, 6);
    width: fit-content;
}

.chess-table {
    width: 640px;
    height: 640px;
    position: relative;
}


.draggablePiece {
    position: absolute;
    z-index: 100;
    text-align: center;
    width: 80px
}

.dropping {
    box-shadow: -1px -1px 32px 4px rgba(201,195,89,0.9) inset;
    -webkit-box-shadow: -1px -1px 32px 4px rgba(201,195,89,0.9) inset;
    -moz-box-shadow: -1px -1px 32px 4px rgba(201,195,89,0.9) inset;
}