.piece-img {
    pointer-events: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.drawing {
    z-index: 500;
}


.drawing img{
    transform: scale(110%);
}